<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SongCloud</title>
    {% load static %}
    <link href="{% static 'songcloud/bootstrap.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Electrolize" rel="stylesheet">
</head>
<body background="/static/songcloud/images/d2.png" style="background-size:cover; font-family: 'Electrolize', sans-serif;">
<div id="header" class="bg-BENIKABA text-left to-top">
    <h1>&nbsp;SongCloud</h1>
</div>
{% block content %}{% endblock %}
</body>
</html>
